.imagem-carrossel {
    object-fit: cover;
    object-position: 0 50%;
    height: 400px;
}

.fonte-titulo {
    font-family: 'Pacifico', cursive;
}

.cor-especial {
    color: darkred;
}

.botao-cor-especial {
    background-color: darkred;
    color: white;
    border-color: darkred;
}

.botao-cor-mouseemcima:hover {
    background-color: rgb(182, 3, 3);
    border-color: rgb(182, 3, 3);
}

.borda-cor-especial {
    border-color: darkred;
}

.card-posicao-imagem {
    object-fit: cover;
    height: 200px;
    }

.card-largura {
    max-width: 18rem;
}
